.avatar {
    width: 150px;
    color: aliceblue;
    .area {
        margin-top: 50px;
    }
}

input {
    border: 1px solid black;
}
button {
    border: 1px solid black;
    padding: 2px 8px;
    margin: 10px 0;
}
